body{
  /* width: 1080px;
  height: 1080px; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  .moon_wrap{
    width: 100vw;
    height: 100vh;
  }
  .moon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-image: url("./images/l_moon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: growMoon 3s ease-in-out;
  }

  .text_1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-image: url("./images/moon_text_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeMoon 1s ease-in-out;
  }
  
  .intoon_logo{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 154px;
    border-radius: 50%;
    background-image: url("./images/moon_text_2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: fadeMoon 1s ease-in-out;
  }

  .fade-out{
    animation: fadeout 1s ease-in-out;
  }

.color_wrap{
  height: 100vh;
  background-color: #e1132c;
  position: absolute;
  top:50%;
  left:40%;
  transform: translate(-50%,-50%);
  animation: fadeMoon 2s ease-in;
}

  .background{
    max-width: 1080px;
    max-height: 1920px;
    width: 25vw;
    position: absolute;
  }


  .small_moon{
    position: absolute;
    top: 133px;
    left: 153px;
    width: 100px;
    transform: scale(3.0);
    animation: moveMoon 3s ease-in-out;
  }


  @keyframes moveMoon{
    0% {
      top:210px;
      left:0px;
      transform: scale(1); /* 초기 위치 및 시작 크기 */
  }
  100% {  
      top: 133px;
      left: 153px;
      transform:scale(3.0); /* 최종 크기 */
  }
  }


  @keyframes growMoon {
    0% {
      transform: translate(-50%, -50%) scale(0.3); /* 초기 위치 및 시작 크기 */
  }
  100% {
      transform: translate(-50%, -50%) scale(1.0); /* 최종 크기 */
  }
}

@keyframes fadeMoon {
  0% {
      opacity: 0; /* 초기에 투명 */
  }
  100% {
      opacity: 1; /* 불투명으로 변경 */
  }
}

@keyframes fadeout {
  0% {
      opacity: 1; /* 초기에 투명 */
  }
  100% {
      opacity: 0; /* 불투명으로 변경 */
  }
}

@media screen and (max-width:600px){
  
  body{
    overflow: hidden;
  }
  .moon{
    width: 300px;
    height: 300px;
  }

  .text_1{
    width: 300px;
    height: 300px;
  }

  .intoon_logo{
    width: 200px;
    height: 56px;
  }

  .background{
    width: 100vw;
  }
  .color_wrap{
    position: initial;
    transform: translate(0,0);
  }
}